<div class="footer-content">
  <div class="footer-section">
    <h3>Pricely</h3>
    <p>Encontre os melhores preços para seus jogos favoritos em todas as plataformas.</p>
  </div>

  <div class="footer-content">
    <div class="footer-section">
      <h4>Participantes do Projeto:</h4>
      <ul>
        <li><a href="#">Guilherme Esperança</a></li>
        <li><a href="#">João Vitor Malta</a></li>
        <li><a href="#">João Vitor dos Santos</a></li>
        <li><a href="#">Lucas de Almeida</a></li>
        <li><a href="#">Paulo Renato</a></li>
      </ul>

      
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; {{ currentYear }} Pricely. Todos os direitos reservados.</p>
    <br>
    <p>Projeto desenvolvido para a disciplina de Projetos Integrados</p>
  </div>
</div>