<header>
  <div class="logo">
    <img class="logo-imagem" src="../../../assets/img/logo-pricely.png" alt="logo">
    <h1 class="header-title">Pricely</h1>
  </div>

  <div class="search-input-container">
    <input class="search-input" type="text" required placeholder="Search for Games" id="search">
  </div>

  <!-- <button class="hamburger-menu" aria-label="Menu">
    <span class="hamburger-line"></span>
    <span class="hamburger-line"></span>
    <span class="hamburger-line"></span>
  </button> -->

<div class="dropdown">
  <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Toggle navigation">
    <i class="bi bi-list"></i>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>

  
</header>
